<h1>SignUp and Login</h1>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Login" %>

<% end %>
<br>
<%= button_to "Signup", new_user_path,
      :id => "signup-button", :method => :get %>
<br>
<%= flash[:notice]%>

