<h1>Cart</h1>

<%= flash[:notice].html_safe unless flash[:notice].blank? %>

<table border=1>
  <thead>
    <tr>
      <th>Title: </th>
      <th>Quantity: </th>
      <th>Price: </th>
      <th>Number of items: </th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <% product = Product.find(cart_item.product_id) %>
        <td><%= product.title %></td>
        <td>
          <div id="<%= cart_item.id %>" >
            <%= cart_item.quantity %>
          </div>
        </td>
        <td>
          <div id="<%= cart_item.id %>-price" >
            <%= (product.price * cart_item.quantity).round(2) %>
          </div>
        </td>
        <td><%= form_tag(update_cart_item_quantity_cart_checkout_path(cart_item.id),
             method: :put, remote: true) do %>
          <%= number_field_tag :updated_quantity, nil, required: true %>
          <%= submit_tag 'Save'%>
        <% end %></td>
        <td><%= button_to "Remove item",
                destroy_cart_item_cart_checkout_path(cart_item.id),
                :id => "remove-cart-item-button", :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<div id='total-amount'>
  <%= 'Total Amount: ' + @total_amount.to_s %><br>
</div>

<br>
<%= button_to "Purchase", purchase_cart_checkout_index_path,
    :id => "purchase-cart-button", :method => :get, remote: true %>

<div id='purchase-form' ></div><br>

<%= button_to "Order history", order_history_cart_checkout_index_path,
    :id => "order-history-button", :method => :get %><br>


