<div class="container-fluid">
  <h3>Cart</h3>

  <%= render partial: 'products/modal_login' %>

  <div id='flash'>
  <%= render partial: 'shared/flash',
  locals: {message: flash[:notice]} unless flash[:notice].blank? %>
  </div>

<% @cart_items.each do |cart_item| %>
  <% product = Product.find(cart_item.product_id) %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= product.title %></h5>
      <div id="<%= cart_item.id %>-price">
        Price: <%= number_to_currency(product.price * cart_item.quantity, unit: "$")%>
      </div><br>
      <%= link_to "+",
          increment_cart_item_quantity_cart_checkout_path(cart_item.id), remote: true,
          id: "add-quantity-button", method: :put,
           class: "btn btn-outline-primary d-inline p-2" %>
      <div id="<%= cart_item.id %>" class="d-inline p-2 bg-light">
        Quantity: <%= cart_item.quantity %>
      </div>
      <%= link_to "-",
          decrement_cart_item_quantity_cart_checkout_path(cart_item.id), remote: true,
          id: "subtract-quantity-button", method: :put,
           class: "btn btn-outline-primary d-inline p-2" %>
      <br><br>
      <div>
          <%= button_to "Remove item",
          destroy_cart_item_cart_checkout_path(cart_item.id),
          id: "remove-cart-item-button", method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %><br>

<div id='total-amount'>
  Total Amount: <%= number_to_currency(@total_amount, unit: "$") %><br>
</div>

<br>

<%= button_to "Purchase", purchase_cart_checkout_index_path, class: "btn btn-primary",
    :id => "purchase-cart-button", :method => :get, remote: true %>

<div id='purchase-form' ></div><br>

<div id='text'></div>

</div>

