<div class="container-fluid">
  <h3>Order history</h3>

  <% @user_carts.each_with_index do |cart, count| %>
    <div class="container-fluid">
      <h5>Order: <%= count + 1 %></h5>
      <% cart.cart_items.each do |cart_item| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= cart_item.title %></h5>
              <p class="card-text">
                Quantity: <%= cart_item.quantity.to_s %>
              </p>
              <p class="card-text">
                Price:
                <%= number_to_currency(cart_item.quantity + cart_item.price,
                 unit: '$') %>
              </p>
            </div>
          </div>
      <% end %>

      <%= 'Delivered to : ' + cart.name %><br>
      <%= 'Contact: ' + cart.contact %><br>
      <%= 'Email: ' + cart.email %><br>
      <%= 'Address1: ' + cart.address1 %><br>
      <%= 'City: ' + cart.city %><br>
      <%= 'State: ' + cart.state %><br>
      <%= 'Country: ' + cart.country %><br>
      <%= 'Total Amount: ' + number_to_currency(cart.total_amount, unit: '$') %><br><br>
    </div>
  <% end %>
</div>

