<h1>Cart</h1>

<table border=1>
  <thead>
    <tr>
      <th>Title: </th>
      <th>Quantity: </th>
      <th>Price: </th>
      <th>Number of items: </th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.title %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= (cart_item.price * cart_item.quantity).round(2) %></td>
        <td><%= form_tag(update_cart_item_cart_checkout_path(cart_item.id), method: :put) do %>
          <%= number_field_tag :updated_quantity, nil, required: true %>
          <%= submit_tag 'Save'%>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
