<%= form_for(@product, :html => { :multipart => yield(:multi_option) }) do |f| %>

  Title: <%= f.text_field :title %>
  <br>
  Category: <%= f.text_field :category %>
  <br>
  Description: <%= f.text_field :description %>
  <br>
  Price: <%= f.number_field :price, step: :any %>
  <br>

  <%= f.fields_for :product_images do |p| %>
    <div class="field">
      <%= p.label :image %><br>
      <%= p.file_field :image, :multiple => yield(:multi_option),
          name: "product_images[image][]" %>
    </div>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %><br>

  <br>
  <em><%= flash[:notice] %><em>

<% end %>
