<div class="row">
  <% item_collection.each do |product| %>
    <div class="col-sm-3 col-md-4 col-xs-12 col-lg-3">
      <div class="card-deck">
        <div class="card border-success mb-3">
          <%= link_to product, class: 'product-card' do %>
          <%# binding.pry %>
          <div style="height: 170px;">
            <img class="card-img-top"
             src="<%= product.product_images.first.image.url unless product.product_images.blank? %>"
              alt="Image not found" style="height: 170px;">
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Category: <%= product.category %></li>
              <li class="list-group-item">
                Price: <%= number_to_currency(product.price, unit:"$") %>
              </li>
              <li class="list-group-item">Stock: <%= product.stock %></li>
            </ul><br>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate item_collection,
 renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
