<h1> Products list! </h1><br>

<%= form_tag(searched_items_products_path, method: :get) do %>
  <%= 'Search for products by title or category: ' %>
  <%= text_field_tag :search, nil, required: true %>
  <%= submit_tag 'Search' %>
<% end %><br><br>

<% unless current_user.present? %>
  <%= button_to "Login", login_path,
      :id => "login-button", :method => :get %><br>
  <%= button_to "Signup", new_user_path,
      :id => "signup-button", :method => :get %><br>
<% else %>
  <i> <%= "You are logged in as " + current_user.email %> <br> </i><br>
  <%= button_to "Logout", logout_path,
     :id => "logout-button", :method => :get %>
  <br><br>
  <%= button_to "Profile Settings", edit_user_path(current_user.id),
     :id => "profile-settings-button", :method => :get %>
  <br><br>
  <%= button_to "Cart", cart_checkout_index_path,
     :id => "cart-button", :method => :get %>
  <br>
  <% if current_user.role == "seller" %>
    <br>
    <%= button_to "Seller dashboard", seller_dashboard_path,
        :id => "seller-dashboard-button", :method => :get %>
    <br>
  <% end %>
<% end %>

<% unless flash[:notice].blank? %>
  <%= flash[:notice].html_safe %>
<% end %>

<%= render partial: 'products_table', locals: {item_collection: @products} %>
