<h1> Products list! </h1>
<br>

<% if !(session[:user_id].present?) %>

  <%= button_to "Login", '/login',
      :id => "login-button", :method => :get %>
  <br>
  <%= button_to "Signup", new_user_path,
      :id => "signup-button", :method => :get %>
  <br>

<% else %>

  <i> <%= "You are logged in as " + current_user.email %> <br> <i>

  <br>
  <%= button_to "Logout", '/logout',
     :id => "logout-button", :method => :get %>
  <br>
  <br>
  <%= button_to "Profile Settings", edit_user_path(current_user.id),
     :id => "profile-settings-button", :method => :get %>
  <br>
  <% if current_user.role == "seller" %>
    <br>
    <%= button_to "Seller dashboard", '/seller_dashboard',
        :id => "seller-dashboard-button", :method => :get %>
    <br>
  <% end %>

<% end %>

<%= flash[:notice] %>

<table>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.user_id %></td>
        <td><%= product.title %></td>
        <td><%= product.category %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>

        <td><%= button_to "show", product_path(product.id),
                :id => "show-product-button", :method => :get %><td>
      </tr>
      <br>
    <% end %>
  </tbody>

</table>
