<% @product_images.each do |product_image| %>
  <%= image_tag((product_image.image).url) %>
<% end %>
<br><br>

<table>
  <tbody>
    <%= "Title: " + @product.title %><br>
    <%= "Category: " + @product.category %><br>
    <%= "Description: " + @product.description %><br>
    <%= "Price: " + @product.price.to_s %><br>
  </tbody>
</table>

<%= button_to "Add to Cart",
    add_to_cart_cart_checkout_path(title: @product.title,
    product_id: @product.id, price: @product.price),
    :id => "add-to-cart-button", :method => :post%>

<%= button_to "Cart", new_cart_checkout_path,
    :id => "cart-button", :method => :get%>

<%= flash[:notice] %>
