<div class="container-fluid"><br>

  <% @product_images.each do |product_image| %>
    <figure class="figure">
      <%= image_tag (product_image.image).url, class: "figure-img img-fluid rounded",
      alt: "Image not available" %>
    </figure>
  <% end %>
  <br>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Title: <%= @product.title %></h5>
      <p class="card-text">Category: <%= @product.category %></p>
      <p class="card-text">Description: <%= @product.description %></p>
      <p class="card-text">Price: $<%= @product.price.to_s %></p>
    </div>
  </div><br>

    <%= button_to "Add to Cart",
      add_to_cart_cart_checkout_index_path(product_id: @product.id),
      :id => "add-to-cart-button", :method => :post,
      class: "btn btn-warning" %><br>
</div>
