<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Shopping Cart</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%= products_path %>">Home <span class="sr-only">
              (current)</span></a>
            </li>
            <% unless current_user.present? %>
              <li class="nav-item">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">
                    Login & Signup
                  </button>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Logout", logout_path,
                  :id => "logout-link", :method => :get,
                  class: "btn btn-primary", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Profile", edit_user_path(current_user.id),
                  :id => "profile-link", :method => :get,
                  class: "btn btn-primary", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Cart", cart_checkout_index_path,
                  :id => "cart-link", :method => :get,
                  class: "btn btn-primary", class: "nav-link" %>
              </li>
              <% if current_user.role == "seller" %>
                <%= link_to "Seller dashboard", seller_dashboard_path,
                  :id => "seller_dashboard-link", :method => :get,
                  class: "btn btn-primary", class: "nav-link" %>
              <% end %>
            <% end %>
          </ul>
          <%# binding.pry %>
          <% if params[:controller] == 'products' && params[:action] == 'index' %>
            <%= form_tag searched_items_products_path, method: :get, remote: true,
                class: "form-inline my-2 my-lg-0" do %>
              <%= text_field_tag :search, nil, required: true,
               class: "form-control mr-sm-2",
                  placeholder: "Search", 'aria-label': "Search" %>
              <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
